.header_video .image_header {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.header_video .image_header img {
  width: 350px;
  height: 350px;
}

.header_video .des_header {
  display: flex;
  justify-content: center;
}

.header_video .des_header p {
  font-size: 24px;
}

.video_content {
  background-color: #eee;
  margin-top: 30px;
  padding: 20px;
}

.video_content .title_video_content {
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
}

.video_content .grid2 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 30px 40px;
  margin-left: 50px;
}
.card {
  width: 190px;
  height: 254px;
  margin: 0 auto;
  background-color: #011522;
  border-radius: 8px;
  z-index: 1;
 }
 
 .tools {
  display: flex;
  align-items: center;
  padding: 9px;
 }
 
 .circle {
  padding: 0 4px;
 }
 
 .box {
  display: inline-block;
  align-items: center;
  width: 10px;
  height: 10px;
  padding: 1px;
  border-radius: 50%;
 }
 
 .red {
  background-color: #ff605c;
 }
 
 .yellow {
  background-color: #ffbd44;
 }
 
 .green {
  background-color: #00ca4e;
 }
 

 .video_content .grid2 .card .card__content .icon_card{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
 }

.video_content .grid2 .card .card__content .icon_card .youtube_icon {
  color: red;
  font-size: 30px;
}

.video_content .grid2 .card .card__content .title_video{
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-left: 5px;
  margin-right: 5px;
}

.video_content .grid2 .card .card__content .title_video h3{
  color: white;
  font-size: 16px;
  line-height: 25px;
}

.video_content .grid2 .card .card__content .btn_video {
  display: flex;
  justify-content: center;
}

.video_content .grid2 .card .card__content .btn_video .btn {
  font-family: "Almarai", sans-serif;
  background-color: green;
}



@media (max-width: 1025px) {
  .video_content .grid2 {
    grid-template-columns: repeat(3, 1fr);
  }
  .video_content {
    margin-left: 20px;
    margin-right: 20px;
  }
  .video_content {
    border-radius: 10px;
  }
}

@media (max-width: 1025px) {
  .video_content .grid2 {
    grid-template-columns: repeat(2, 1fr);
    margin-left: 100px;
  }
}

@media (max-width: 450px) {
  .header_video .image_header img {
    width: 250px;
    height: 250px;
  }
  .header_video .des_header p {
    font-size: 18px;
    text-align: center;
    margin-left: 15px;
    margin-right: 15px;
    line-height: 25px;
  }
  .video_content .grid2 {
    grid-template-columns: repeat(1, 1fr);
    margin-left: 70px;
  }
  .video_content {
    margin-left: 10px;
    margin-right: 10px;
  }

  .video_content {
    border-radius: 10px;
  }
  .video_content .title_video_content h1 {
    font-size: 26px;
  }
}

/* Dark mode */
[data-theme="dark"] .video_content {
  background-color: #bababa;
}

[data-theme="dark"] .bg {
  background-color: black;
  color: white;
}

[data-theme="dark"] .card {
  box-shadow: none;
}

[data-theme="dark"] .header_video .des_header p {
  color: white;
}



